<div class="container-fluid white-bg">
<h1>Editing Setting</h1>

<%= render 'form' %>

<%= link_to 'Show', @setting, class: "btn btn-primary fixed-width" %> |
<%= link_to 'Back', settings_path, class: "btn btn-primary fixed-width" %>
</div>