<div class="container-fluid footer"  id="foot">
    <div class="pull-right">
        <!--Example text -->
    </div>
    <div>
        <strong>Copyright</strong> A Preston Services Inc &copy; 2016
    </div>
</div>
